---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import GitHub from '../components/icons/GitHub.astro';
import Linkendln from '../components/icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcono from '../components/icons/Mail.astro'
import Experience from '../components/Experience.astro';
import SectionComptainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Porfolio Jaime Saenz -- Desarrollador y Analista de Datos"
description ="Porfolio Jaime Saenz -- Desarrollador y Analista de Datos">
	<main class="px-4">
		<SectionComptainer class = "py-44 pb-32">
			<img class="rounded-full w-12 h-12 mb-4" 
			src="/src/images/Foto.jpg " alt = "perfil photo"/> 
			<h1 class="text-while text-3xl md:4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hey, Soy Jaime Saenz 
			<a href="http://www.linkedin.com/in/jaime-de-jesus-saenz-gamboa" 
			target="_blank" 
			rel="noopener" 
			class="flex justify-center items-center"
			>
				<Badge>Disponible para trabajar</Badge>
			</a>

			</h1>
			<h2 class="text-xl text-1 opacity-80 text-wrap max-w-[700px]">
				<span>+1 año de experiencia</span>. <span class="text-yellow-200/90"> Desarrollador wed y analista de datos</span>.
				<span class="text-yellow-200/90"> De Colombia, Bogota</span>. <span class="opacity-75"> Especializador en resolucion de problemas</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				
				<SocialPill href="http://www.linkedin.com/in/">
					<Linkendln class= "size-4 md:size-6"/>
						LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/JaimeGamm">
					<GitHub class= "size-4 md:size-6"/>
						GitHub
				</SocialPill>
				<SocialPill href="jaimedejesusgamm1@gmail.com">
					<MailIcono class= "size-4 md:size-6"/>
						jaimedejesusgamm1@gmail.com
				</SocialPill>

				
			</nav>
		</SectionComptainer>
		<SectionComptainer id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-8"/>
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionComptainer>
		<SectionComptainer id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-8"/>
				Proyectos
			</h2>
			<Projects />
		</SectionComptainer>
	</main>
</Layout>
º

