---
 const personalImageAlt = "Jaime Saenz"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Jaime Saenz pero mis amigos me llaman James. Empecé en la
      programación con Java, tenía 10 años y hice mi primer proyecto que fue una calculadora. Actualmente soy<strong
        > Ingeniero de Sistemas y Computación</strong
      >.
    </p>
    <p>
      Estudié hasta el cuarto semestre de la <strong>licenciatura en matemáticas</strong>, donde cultivé un profundo amor por los números y el análisis de datos. Posteriormente, decidí cambiar a la ingeniería de sistemas, fusionando los conocimientos adquiridos en la licenciatura. Esta combinación resultó invaluable para mis habilidades en los campos de desarrollo y análisis de datos.
    </p>

    <p>
      Entre mis logros destacan la colaboración en el desarrollo de una <strong>página web para una academia de taekwondo</strong>, así como la contribución al desarrollo de <strong>scripts en Python para la optimización de procesos SEO en Avianca</strong>.
    </p>
    
  </div>

  <img width="200" height="200" src="/src/images/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>


