---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "1/05/2024 – Actual",
    title: "Desarrollador freelancer",
    company: "Avianca",
    description:
      "Como desarrollador freelancer, diseñé y programé el sitio web https://senderismopasumerce.com/ utilizando Astro, JavaScript y Tailwind CSS en el frontend, y Node.js con MySQL en el backend. Actualmente, me enfoco en mejorar el SEO del proyecto para optimizar su visibilidad y rendimiento en los buscadores.",
  },
  {
    date: "20/06/2023 – 18/12/2023",
    title: "Pasante de Analitica e-Commerce",
    company: "Avianca",
    description:
      "Responsable de la Automatización del Procesos SEO utilizando Python, Estrategia SEO (HREFLANGS y Redirecciones), Pruebas de Sitio Web Manuales y Automatizadas, Elaboración de Informes utilizando Data Studio.",
  },
  {
    date: "01/07/2022 – 3/12/2022",
    title: "Desarrollador Web Junior:",
    company: "Academia de Taekwondo Sue",
    description:
      "Contribuí al desarrollo de una aplicación web para una academia detaekwondo, utilizando React.js, node.js y MySQL bajo la metodología ágil Scrum. La aplicación gestionaba información para usuarios, instructores y administrativos",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
